<ion-content [fullscreen]="true">
  <!-- BACKGROUND -->
  <div class="bg-home">
    <!-- BUTTONS HEADER -->
    <div>
      <ion-menu-button> <img class="menu-style" src="../../assets/imgs/menu style.png"></ion-menu-button>
      <img class="power-style" src="../../assets/imgs/Logo power.png">
    </div>
    <!-- LOGO -->
    <div class="logo-style">
      <img src="../../assets/imgs/logo.png">
    </div>
    <div class="music-name center">
      nome da musica
    </div>
    <!-- ICONES  -->
    <div>
      <img class="logo-movie" src="../../assets/imgs/movie.png">
      <img class="logo-email" src="../../assets/imgs/email.png">
      <img class="logo-twitter" src="../../assets/imgs/twitter.png">
      <img class="logo-facebook" src="../../assets/imgs/facebook.png">
      <img class="logo-instagram" src="../../assets/imgs/instagram.png">
      <img class="logo-whats" src="../../assets/imgs/whatsapp.png">
      <img class="logo-play" src="../../assets/imgs/Logo play.png">
    </div>
    <!-- LOGO 2 -->
    <div class="logo-2">
      <img src="../../assets/imgs/logo.png">
    </div>
    <!-- FRASE DO LOGO -->
    <div class="text-logo">
      <p>A vida é feita de Hits!</p>
    </div>
  </div>
</ion-content>
<ion-footer class="bg-footer">
<div class="publi">
  <p>
    Area de Publicidade
  </p>
</div>
</ion-footer>