ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.bg-home {
  background-image: url("../../assets/imgs/backHits.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.menu-style {
  width: 10%;
  margin-left: -80%;
  margin-top: 20px;
}

.power-style {
  width: 10%;
  position: absolute;
  right: 25px;
  top: 20px;
}

.logo-style {
  margin-top: 10%;
  width: 44%;
  margin-left: 28%;
}

.music-name {
  background-color: rgb(68, 68, 201);
  border-radius: 100px;

  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
}

.center {
  text-align: center;
}
.logo-play {
  position: absolute;
  right: 8%;
  top: 44%;
}
.logo-whats {
  position: absolute;
  right: 29%;
  top: 48%;
}
.logo-instagram {
  position: absolute;
  right: 45%;
  top: 52.5%;
}
.logo-facebook {
  top: 57%;
  position: absolute;
  right: 58%;
}
.logo-twitter {
  position: absolute;
  right: 68%;
  top: 62%;
}
.logo-email {
  position: absolute;
  right: 77%;
  top: 68%;
}
.logo-movie {
  position: absolute;
  right: 84%;
  top: 74%
}
.logo-2{
  width: 30%;
  margin-left: 50%;
  margin-top: 35%;
}
.text-logo{
  margin-left: 45%;
  margin-top: -10px;
}
.publi{
  text-align: center;
  color: #000000;
 
}
.bg-footer{
  background-color:white;
}
